@import "_variables";

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #000000;
    opacity: 0.7;
}
.dialog {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 300px;
    transform: translate(-50%, -50%);
    background-color: $background-color;
    border-radius: 6px;
    > .title {
        font-size: 1.2rem;
        text-transform: capitalize;
        font-weight: bold;
        padding: 10px;
        color: #dfe1e4;
        border-bottom: 1px solid $border-color;
    }
}
.new-task-form,
.new-project-form {
    .inputs {
        padding: 10px;
        .delete-button {
            font-size: 0.8rem;
            width: fit-content;
            padding: 3px 1px;
            margin: 2px 0;
            border-radius: 3px;
            cursor: pointer;
            color: rgb(255, 88, 88);
            &:hover {
                background-color: rgba(255, 156, 156, 0.308);
            }
        }
    }
    .input-container {
        display: flex;
        padding: 6px 0;
        label {
            margin-top: 5px;
            width: 25%;
            font-size: 0.85rem;
            color: #dfe1e4;
        }
        .input {
            flex-grow: 1;
            input {
                width: 100%;
                box-sizing: border-box;
                background-color: $background-color;
                color: #fff;
                border: 1px solid $border-color;
                padding: 3px;
                border-radius: 5px;
                &:focus {
                    border: 1px #69a8ff solid;
                    outline: 1px solid #69a8ff;
                }
            }
            .error-message {
                margin-top: 5px;
                font-size: 0.8rem;
                font-weight: bold;
                color: #f75959;
            }
        }
        .input .color-input {
            background-color: $border-color;
        }
    }
    .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 6px;
        padding: 10px 12px;
        border-top: 1px solid $border-color;
        button,
        div {
            border-radius: 5px;
            color: #fff;
            padding: 5px 8px;
            font-size: 0.8rem;
            cursor: pointer;
        }
        .save {
            background-color: #28b945;
            border: 1px solid #28b945;
        }
        .cancel {
            border: 1px solid $border-color;
        }
    }
}
.confirm {
    .confirm-message {
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        background-color: rgba(#dd2f2f, 0.2);
        border: 1px solid #dd2f2f;
        color: white;
    }
    .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 6px;
        padding: 10px 12px;
        border-top: 1px solid $border-color;
        button {
            border-radius: 5px;
            color: #fff;
            padding: 5px 8px;
            font-size: 0.8rem;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid $border-color;
        }
        .delete {
            background-color: #dd2f2f;
            border: 1px solid #dd2f2f;
            color: white;
        }
    }
}
